@import 'global.scss';

.aside-block {
  padding: 32px 0 102px;
}
.aside-block.container {
  @include for-large-up {
    padding-left: 0;
    padding-right: 0;
  }
}

.some-adv-block {
  margin-bottom: 26px;
  @include for-large-up {
    padding-top: 22px;
  }

  &__img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
