@import 'global.scss';

.aside-block.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0 102px;
  @include for-large-up {
    padding-top: 41px;
    padding-right: 0;
  }
}

.some-adv-block {
  margin-bottom: 26px;
  @include for-large-up {
    width: 300px;
  }

  &__img {
    border-radius: 8px;
  }
}
