@import 'global.scss';

.article-block.container {
  @include for-large-up {
    margin-right: 28px;
    padding-left: 9px;
    padding-right: 9px;
  }
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include for-large-up {
    flex-direction: row;
    padding-bottom: 18px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
  }

  &__photo {
    padding-top: 27px;
    margin-bottom: 10px;
    @include for-large-up {
      padding-top: 0;
    }
  }
  &__photo-img {
    max-width: 100%;
    height: 100%;
    margin-right: 14px;
    object-fit: cover;
    border-radius: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% + 24px);
    margin: 0 -12px 45px;
    padding: 0 12px 41px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    @include for-large-up {
      align-items: start;
      width: auto;
      padding: 49px 9px 20px;
      // padding-top: 49px;
      // padding-bottom: 20px;
      margin: 0;
      border-bottom: none;
    }
  }

  &__name {
    display: inline-flex;
    order: -1;
    margin-bottom: 12px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    @include for-large-up {
      margin-bottom: 16px;
      font-size: 32px;
      order: 0;
    }
  }
  &__text {
    @include for-large-up {
      text-align: left;
      max-width: 737px;
    }
  }

  &__actions {
    margin-bottom: 29px;
    display: flex;
    @include for-large-up {
      margin-bottom: 13px;
    }
  }
  &__actions-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__actions-block:not(:last-child) {
    margin-right: 38px;
  }
}

.icon-posts {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 8px;
  background-image: url('../icons/icon-posts.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-subscribers {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 6px;
  background-image: url('../icons/icon-subscribers.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.icon-views {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin-right: 6px;
  background-image: url('../icons/icon-views.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
