@import 'global.scss';

.header {
  height: 49px;
  padding-top: 0;
  line-height: 25px;
  background-color: $bc-color-primary;
  overflow-x: hidden;
  @include for-large-up {
    padding-top: 39px;
  }

  &__top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 11px 0;
    background: #343434;
    z-index: 2;
  }

  &__rubricks {
    display: none;
    @include for-large-up {
      display: flex;
    }
  }

  &__rubricks-link {
    @include for-large-up {
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1;
      color: $accent-primary;
      margin-right: 24px;
      text-transform: uppercase;
    }
  }

  &__lang {
    margin-left: auto;
    font-size: 0.75rem;
  }
}

.app-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.menu-btn {
  margin-right: 20px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  @include for-large-up {
    margin-right: 28px;
  }
}

.icon-menu {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../icons/icon-menu.svg');
}

.logo {
  @include for-large-up {
    margin-right: 48px;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__name {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
  }
}

.icon-meta-left,
.icon-meta-right {
  display: inline-block;
  width: 18px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-meta-left {
  transform: scale(0.7);
  background-image: url('../icons/icon-meta-arrow.svg');
}

.icon-meta-right {
  transform: rotate(180deg) scale(0.7);
  background-image: url('../icons/icon-meta-arrow.svg');
}

.current-lang {
  margin-right: 2px;
  color: $accent-primary;
}

.another-lang {
  color: #ffffff8a;
}
