@import 'global.scss';

.programm-schedule {
  background-color: $bc-color-secondary;
  border-radius: 12px;
  &__header {
    display: flex;
    align-items: center;
    padding: 16px;
    padding-left: 18px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    @include for-large-up {
      padding-bottom: 12px;
      padding-top: 20px;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
  }
  &__list {
    padding: 20px 15px 34px 17px;
    @include for-large-up {
      padding: 16px 20px 24px 14px;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 19px;
    @include for-large-up {
      margin-bottom: 12px;
    }
  }
}
.channel-item {
  display: flex;
  &__time {
    padding-right: 5px;
    margin-right: 12px;
    color: $text-color-lightgrey;
    @include for-large-up {
      margin-right: 5px;
    }
  }
  &__name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__link {
    display: inline-block;
    margin-left: auto;
    color: $accent-primary;
  }
}
