$text-color-primary: #000000cc;
$text-color-secondary: #0000008a;
$text-color-lightgrey: #00000066;
$text-color-hover-link: #1064c3;

$bc-color-primary: #343434;
$bc-color-secondary: #f6f6f6;
$bc-color-white: #fff;

$accent-primary: #4b99f5;

$md: 912px;

@mixin for-large-up {
  @media screen and (min-width: $md) {
    @content;
  }
}
